*
{
    margin: 0;
    padding: 0;
}

@font-face
{
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");

    font-family: "Goldman";
    src: url("../fonts/Goldman-Regular.ttf");
}

/* ------------------------------------- PAGE INDEX ----------------------------------------------------------- */

header
{
    background-color: #484848;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#headerPartie1
{
    display: flex;
    align-items: center;
    padding-left: 2%;
}

header img
{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 55%;
}

#choix_jeu
{
    width: 100%;
    height: 30px;
    padding-left: 10%;
    border-radius: 10px;
}

#search_bar
{
    height: 30px;
    width: 400px;
    border: none;
    padding-left: 10px;
}

#log
{
    padding-right: 2%;
    display: flex;
}

#log .logButs{
    display: flex;
    justify-content: space-between;
}

#log .logInBut, #log .signUpBut, #log .logOutBut
{
    border: black 2px solid;
    border-radius: 10px;
    font-family: "Roboto";
    text-align: center;
    background-color: white;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    margin-right: 5px;
    cursor: pointer;
}

.logOutBut input{ 
    border: none;
    background-color: white;
}

#info
{
    background-color: #6C6C6C;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
}

#info h1
{
    padding-top: 25px;
    font-size: 40px;
    font-family: "Goldman";
}

.signUpBg, .logInBg{
    display: none;
}

#info p
{
    margin-top: 25px;
    font-family: "Roboto";
    width: 80%;
    font-size: 20px;
}

#allGame
{
    background-color: #484848;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
}
#allGame .optionsBra{
    display: flex;
    width: 100%;

}
#allGame .optionsBra section{
    width: 25%;
    background-color: #fff;
    margin: 5%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#allGame .optionsBra section a{
    
    text-decoration: none;
    font-family: "Roboto";
    color: black;
}


/* #allGame div a
{
    background-color: white;
    text-decoration: none;
    font-family: "Roboto";
    color: black;
    padding: 75px 125px;
    margin: 25px;
}

#allGame div
{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

#allGame h1
{
    padding-top: 25px;
    font-size: 40px;
    font-family: "Goldman";
    color: white;
} */

footer
{
    height: 75px;
    background-color: #6C6C6C;
}
/* ---------------------------------------------------------- POP UP CONNEXION ----------------------------------------------------------- */
.signUpBg, .logInBg{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signUp, .logIn{
    width: 60%;
    height: 60vh;
    background-color: #eee;
    border-radius: 10px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 0.3rem solid;
    border-color: #fe5260  #210089  #210089 #fe5260 ;

}

.logIn{
    width: 45%;
    height: 45vh;
}

.signUp h2, .logIn h2{
    text-align: center;
}

.signUp .closeBut, .logIn .closeBut{
    border-style: none;
    position: absolute;
    top: 0;
    right: 5px;
}

.signForm, .logForm{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.signForm input, .logForm input{
    width: 30%;
    height: 5vh;
    margin: 3%;
    border-radius: 10px;
}

.signForm input:not(.subBut), .logForm input:not(.subBut){
    border: 0.3rem solid;
    border-color: #210089 #fe5260 #fe5260 #210089;
    

}
.signForm .subBut, .logForm .subBut{
    font-weight: bold;
    height: 7vh;
    color: rgb(255, 255, 255);
    border: 0.3rem solid #fe5260;
    background-color:#210089;
}

/* ---------------------------------------------------------- PAGE TOURNOI ----------------------------------------------------------- */

.records
{
    background-color: #585858;
}

.records h2, .new h2
{
    padding: 25px 0 25px 25px;
    color: white;
    font-family: "Goldman";
    display: flex;
    justify-content: center;
    align-items: center;
}

.records .lastest
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.records .last
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.records img
{
    width: 500px;
    border-radius: 2vh;
    padding: 0 25px;
}

.last p
{
    margin-left: 25px;
    font-family: "Roboto";
    padding-bottom: 20px;
    margin-top: 10px;
    color: white;
}

.new
{
    background-color: #484848;
}

.brac
{
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
}

.brac a
{
    font-size: 2em;
    font-family: "Roboto";
    width: 500px;
    height: 300px;
    margin: 1%;
    border-radius: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}

.bracLol, .bracNewLol
{
    background-image: url("../img/bra_lol.png");
    display: flex;
    justify-content: center;
    align-items: center;
}

.bracCod, .bracNewCod
{
    background-image: url("../img/bracket_cod.jpg");
    background-position: center;
}

.bracRo
{
    background-image: url("../img/rlcs.jpg");
    background-position: center;
    background-size: cover;
}
.bracFifa
{
    background-image: url('../img/bra_fifa.jpeg');
    background-position: center;
    background-size: cover;
}

.bracCsgo
{
    background-image: url('../img/bra-csgo.jpg');
    background-position: center;
    background-size: cover;
}

.bracSmash{
    background-image: url('../img/bra_smash.jpg');
    background-position: center;
    background-size: cover;

}

@media screen and (max-width: 600px)
{
    .records img
    {
        width: 90%;
    }
}

/* --------------------------------------------------FOOTER-------------------------------------------------- */

footer
{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
