*{
    margin: 0;
    padding: 0;
}

/* ------------------------------------- PAGE INDEX ----------------------------------------------------------- */

header {
    background-color: #484848;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#headerPartie1 {
    display: flex;
    align-items: center;
    margin-left: 25px;
}

header img {
    width: 100px;
}

#choix_jeu {
    width: 200px;
    height: 30px;
    border: none;
    padding-left: 10px;
}

#search_bar {
    height: 30px;
    width: 400px;
    border: none;
    padding-left: 10px;
}

#log {
    margin-right: 25px;
}

#log a {
    border: black 2px solid;
    background-color: white;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
}

#info {
    background-color: #6C6C6C;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
}

#info h1 {
    padding-top: 25px;
    font-size: 40px;
}

#info p {
    margin-top: 25px;
    width: 80%;
    font-size: 20px;
}

#allGame {
    background-color: #484848;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#allGame div a {
    background-color: white;
    text-decoration: none;
    color: black;
    padding: 75px 125px;
    margin: 25px;
}

#allGame div {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
}

#allGame h1 {
    margin-top: 25px;
    font-size: 40px;
    color: white;
}

footer {
    height: 75px;
    background-color: #6C6C6C;
}

/* ---------------------------------------------------------- PAGE TOURNOI ----------------------------------------------------------- */

.records{
    background-color: #585858;
    
}

.records .lastest{
    display: flex;
    margin-left: 10%;
}
.records .last{
    display: flex;
    flex-direction: column;
}

.records img{
    width: 60%;
    border-radius: 2vh;
} 

.new{
    background-color: #484848;
}

.brac{
    display: flex;
    flex-flow: wrap row;
}

.brac a{
    width: 30%;
    height: 30vh;
    margin: 1%;
    border-radius: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.brac a{
    text-decoration: none;
    color: white;
}

.brac1{
    background-color: #ff5353;
    
}
.brac2{
    background-color: #ff9557;
}
.brac3{
    background-color: #53ff7c;
}
.brac4{
    background-color: #53a3ff;
}
.bracNew{
    background-color: #ff53ba;
    display: flex;
    justify-content: center;
    align-items: center;
}