* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
  font-family: "Goldman";
  src: url("../fonts/Goldman-Regular.ttf");
}
/* ------------------------------------- PAGE INDEX ----------------------------------------------------------- */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
header article {
  width: 30%;
}
header .headLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  flex-grow: 1;
}

.choice {
  margin-left: 2%;
}

#choix_jeu {
  width: 100%;
  height: 30px;
  padding-left: 10%;
  border-radius: 10px;
  outline: none;
  border: none;
}

#search_bar {
  height: 30px;
  width: 400px;
  border: none;
  padding-left: 10px;
}

#log {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 2.5%;
}

#log section p {
  margin: 10px;
}

#log .logButs {
  display: flex;
}

#log .logInBut,
#log .signUpBut,
#log .logOutBut {
  border: none;
  border-radius: 10px;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
}

.logOutBut input {
  border: none;
  background-color: white;
  background-color: #fe5260;
}

#info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 25px;
}

#info h1 {
  padding-top: 25px;
  font-size: 40px;
}

.signUpBg,
.logInBg {
  display: none;
}

#info p {
  margin: 2% 0;
  width: 50%;
  font-size: 20px;
}

#allGame {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40vh;
}
#allGame h2 {
  margin: 2% 0;
  font-size: 30px;
}

#allGame .optionsBra {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#allGame .optionsBra section {
  width: 25%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5%;
  border-radius: 30px;
}

#allGame .optionsBra section a {
  text-decoration: none;
}

/* #allGame div a
{
    background-color: white;
    text-decoration: none;
    font-family: "Roboto";
    color: black;
    padding: 75px 125px;
    margin: 25px;
}

#allGame div
{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

#allGame h1
{
    padding-top: 25px;
    font-size: 40px;
    font-family: "Goldman";
    color: white;
} */
/* ---------------------------------------------------------- POP UP CONNEXION ----------------------------------------------------------- */
.signUpBg,
.logInBg {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signUp,
.logIn {
  width: 60%;
  height: 60vh;
  background-color: #eee;
  border-radius: 10px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 0.3rem solid;
  border-color: #fe5260 #210089 #210089 #fe5260;
}

.logIn {
  width: 45%;
  height: 45vh;
}

.signUp h2,
.logIn h2 {
  text-align: center;
}

.signUp .closeBut,
.logIn .closeBut {
  border-style: none;
  position: absolute;
  top: 0;
  right: 5px;
}

.signForm,
.logForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.signForm input,
.logForm input {
  width: 30%;
  height: 5vh;
  margin: 3%;
  border-radius: 10px;
}

.signForm input:not(.subBut),
.logForm input:not(.subBut) {
  border: 0.3rem solid;
  border-color: #210089 #fe5260 #fe5260 #210089;
}

.signForm .subBut,
.logForm .subBut {
  font-weight: bold;
  height: 7vh;
  color: white;
  border: 0.3rem solid #fe5260;
  background-color: #210089;
}

/* ---------------------------------------------------------- PAGE TOURNOI ----------------------------------------------------------- */
.records {
  background-color: #585858;
}

.records h2,
.new h2 {
  padding: 25px 0 25px 25px;
  color: white;
  font-family: "Goldman";
  display: flex;
  justify-content: center;
  align-items: center;
}

.records .lastest {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.records .last {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.records img {
  width: 500px;
  border-radius: 2vh;
  padding: 0 25px;
}

.last p {
  margin-left: 25px;
  font-family: "Roboto";
  padding-bottom: 20px;
  margin-top: 10px;
  color: white;
}

.new {
  background-color: #484848;
}

.brac {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
}

.brac a {
  font-size: 2em;
  font-family: "Roboto";
  width: 500px;
  height: 300px;
  margin: 1%;
  border-radius: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
}

.bracLol,
.bracNewLol {
  background-image: url("../img/bra_lol.png");
  display: flex;
  justify-content: center;
  align-items: center;
}

.bracCod,
.bracNewCod {
  background-image: url("../img/bracket_cod.jpg");
  background-position: center;
}

.bracRo {
  background-image: url("../img/rlcs.jpg");
  background-position: center;
  background-size: cover;
}

.bracFifa {
  background-image: url("../img/bra_fifa.jpeg");
  background-position: center;
  background-size: cover;
}

.bracCsgo {
  background-image: url("../img/bra-csgo.jpg");
  background-position: center;
  background-size: cover;
}

.bracSmash {
  background-image: url("../img/bra_smash.jpg");
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 600px) {
  .records img {
    width: 90%;
  }
}
/* --------------------------------------------------FOOTER-------------------------------------------------- */
footer {
  height: 100px;
  width: 100%;
  display: flex;
  position: relative;
  bottom: 0;
  justify-content: space-around;
  align-items: center;
}

/* ------------------------------------- VARIABLES MODE CLAIR ----------------------------------------------------------- */
/* ------------------------------------- VARIABLES MODE SOMBRE ----------------------------------------------------------- */
/* ------------------------------------- VARIABLES POLICES ----------------------------------------------------------- */
.light-theme {
  background-color: white;
  transition: all 0.5s ease;
}
.light-theme header {
  background-color: #0c0037;
  transition: all 0.5s ease;
}
.light-theme header .LDswitch {
  width: 10%;
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(115deg) brightness(105%) contrast(107%);
  cursor: pointer;
  transition: 0.5s;
}
.light-theme header .LDswitch:hover {
  transform: scale(0.8);
  filter: invert(42%) sepia(83%) saturate(2325%) hue-rotate(327deg) brightness(105%) contrast(99%);
  transition: 0.5s;
}
.light-theme header .isCo {
  font-family: "Roboto", sans-serif;
  color: white;
}
.light-theme #log .logInBut,
.light-theme #log .signUpBut,
.light-theme #log .logOutBut {
  font-family: "Nunito";
  background-color: #fe5261;
  color: white;
  font-weight: bold;
  transition: all 0.5s ease;
}
.light-theme #info {
  background-color: white;
  color: #0c0037;
  transition: all 0.5s ease;
}
.light-theme #info h1 {
  font-family: "Goldman";
}
.light-theme #info p {
  font-family: "Roboto", sans-serif;
}
.light-theme #allGame {
  background-color: #eeeeee;
  transition: all 0.5s ease;
}
.light-theme #allGame h2 {
  color: #fe5261;
  font-family: "Nunito";
  font-weight: bold;
  transition: all 0.5s ease;
}
.light-theme #allGame .optionsBra section {
  background-color: #fe5261;
}
.light-theme #allGame .optionsBra section a {
  font-family: "Nunito";
  color: white;
  font-weight: bold;
  transition: all 0.5s ease;
}
.light-theme footer {
  background-color: #0c0037;
}
.light-theme footer img {
  filter: invert(1);
  transition: all 0.5s ease;
}
.light-theme #BrackForm {
  color: #fe5261;
  font-family: "Nunito";
  background-color: #eeeeee;
  transition: all 0.5s ease;
}
.light-theme #BrackForm h1 {
  text-align: center;
  margin: auto;
}
.light-theme #TeamForm {
  color: #fe5261;
  font-family: "Nunito";
  background-color: #eeeeee;
  transition: all 0.5s ease;
}
.light-theme #BrackList {
  color: #eeeeee;
  font-family: "Nunito";
  transition: all 0.5s ease;
}
.light-theme #BrackList a {
  text-decoration: none;
}
.light-theme #BrackList .BrackCard {
  background-color: #fe5261;
  transition: all 0.5s ease;
  text-decoration: none;
  color: #eeeeee;
}

.dark-theme {
  background-color: #272727;
  transition: all 0.5s ease;
}
.dark-theme header {
  background-color: #1e1e1e;
  transition: all 0.5s ease;
}
.dark-theme header .LDswitch {
  width: 10%;
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(115deg) brightness(105%) contrast(107%);
  cursor: pointer;
  transition: 0.5s;
}
.dark-theme header .LDswitch:hover {
  transform: scale(0.8);
  filter: invert(42%) sepia(83%) saturate(2325%) hue-rotate(327deg) brightness(105%) contrast(99%);
  transition: 0.5s;
}
.dark-theme header .isCo {
  font-family: "Roboto", sans-serif;
  color: white;
}
.dark-theme #log .logInBut,
.dark-theme #log .signUpBut,
.dark-theme #log .logOutBut {
  font-family: "Nunito";
  background-color: #fe5261;
  color: white;
  font-weight: bold;
  transition: all 0.5s ease;
}
.dark-theme #info {
  background-color: #272727;
  color: white;
  transition: all 0.5s ease;
}
.dark-theme #info h1 {
  font-family: "Goldman";
}
.dark-theme #info p {
  font-family: "Roboto", sans-serif;
}
.dark-theme #allGame {
  background-color: #3f3f3f;
  transition: all 0.5s ease;
}
.dark-theme #allGame h2 {
  color: #fe5261;
  font-family: "Nunito";
  font-weight: bold;
  transition: all 0.5s ease;
}
.dark-theme #allGame .optionsBra section {
  background-color: #fe5261;
  transition: all 0.5s ease;
}
.dark-theme #allGame .optionsBra section a {
  font-family: "Nunito";
  color: white;
  font-weight: bold;
  transition: all 0.5s ease;
}
.dark-theme footer {
  background-color: #1e1e1e;
}
.dark-theme footer img {
  filter: invert(1);
  transition: all 0.5s ease;
}
.dark-theme #BrackForm {
  color: #fe5261;
  font-family: "Nunito";
  background-color: #3f3f3f;
  transition: all 0.5s ease;
}
.dark-theme #BrackForm h1 {
  text-align: center;
  margin: auto;
}
.dark-theme #TeamForm {
  color: #fe5261;
  font-family: "Nunito";
  background-color: #3f3f3f;
  transition: all 0.5s ease;
}
.dark-theme #BrackList {
  color: #fe5261;
  font-family: "Nunito";
  transition: all 0.5s ease;
}
.dark-theme #BrackList a {
  text-decoration: none;
}
.dark-theme #BrackList .BrackCard {
  background-color: #dfdfdf;
  transition: all 0.5s ease;
  text-decoration: none;
  color: #fe5261;
}

#BrackForm {
  padding: 5%;
}
#BrackForm form {
  display: flex;
  justify-content: center;
  width: 100%;
}
#BrackForm form div {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 5px;
}
#BrackForm form div label,
#BrackForm form div input {
  margin: 10% 0%;
}
#BrackForm form div input,
#BrackForm form div textarea {
  resize: none;
  border: 1px solid #272727;
  border-radius: 5px;
}

#TeamForm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3% 0;
}
#TeamForm form div {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 50px;
}
#TeamForm form div input {
  border-radius: 5px;
  border: 1px solid #272727;
}

#BrackList h1 {
  text-align: center;
}
#BrackList .BrackCard {
  margin: 10% 20% 12% 20%;
  padding: 3%;
  border-radius: 30px;
}
#BrackList .BrackCard h2 {
  margin: 0;
}
#BrackList .BrackCard .BrackMakerBlock {
  display: flex;
  align-items: center;
}
#BrackList .BrackCard .BrackMakerBlock img {
  width: 10vh;
  height: 10vh;
  border-radius: 100%;
  object-fit: cover;
  margin-right: 2%;
}
#BrackList .BrackCard .BrackMakerBlock .BrackAuth {
  margin: 0;
}
#BrackList .BrackCard .BrackDesc {
  margin: 3% 0 0 0;
}

.Row_style {
  display: flex;
  height: 80vh;
}
.Row_style .Column {
  width: 25%;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.Row_style .Column div {
  padding: 10px 20px;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
  border: 0.3rem solid;
  border-color: #210089 #fe5260 #fe5260 #210089;
}
.Row_style p {
  color: #fe5261;
  font-family: "Nunito";
}

/*# sourceMappingURL=style2.css.map */
